<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/html-head.ejs') %>

  <body>
    <div class="container">
      <%- include('./partials/header', {active: 'home'}) %>

      <h1 class="fs-2">Available vacations</h1>

        <% vacations.forEach(({ name, description }) => { %>
          <div class="card mt-3">
            <div class="card-body">
              <h2 class="card-title fs-3"><%= name %></h2>
              <p class="card-text"><%= description %></p>
            </div>
          </div>
        <% }) %>
    </div>

    <%- include('./partials/body-scripts.ejs') %>
  </body>
</html>
